<!DOCTYPE html>
<html>
  <head>
<!-- ヘッダー -->
    <header class="header">
      <div class="heading">
        <h1 class="logo"><a href=numbers_index_path>数当てゲーム</a></h1>
      </div>
      <div class="navbar">
        <% if user_signed_in? %>
          <div class="nav-lists__list">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        <%else%>
        <div class="nav-lists">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-lists__list" %>
          <%= link_to "ログイン", new_user_session_path, class: "nav-lists__list" %>
        </div>
        <%end%>
      </div>
    </header>
  </head>
  <body>
   <!-- トップページのメイン -->
    <div class="index-main">
      <div class="math">
        <%= image_tag "math1.jpg", class:"math-image" %>
        <div class="math-items">
          <div class="math-text">
            <div class="math-text__main">数当てゲームをはじめよう</div>
            <div class="math-text__sub">推測して当てることはできるかな？</div>
          </div>
          <div class="start-btn"><a href="#">ゲームスタート</a></div>
        </div>
      </div>
    </div>

    <!-- フッター -->
    <footer class="footer">
    </footer>
  </body>
</html>
