/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px 0 30px;
  background-color: #13a913f7;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  font-size: 36px;
  font-weight: 100;
  line-height: 100px; 
}

.nav-lists {
  height: 100px;
  display: flex;
}

.nav-lists__list {
  margin-left: 70px;
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;  
}

/******************************************************** 
　フッター
********************************************************/
.footer {
  width: 100%;
  height: 70px;
  background-color: #FAFAFA;
}

.copyright {
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: #959393;
}

/******************************************************** 
　トップページ 
********************************************************/
.math {
  position: relative;
  width: 100%;
  height: 600px;
}

.math-image {
  width: 100%;
  height: 560px;
  object-fit: cover;
  opacity: 30%
}

.math-items {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 50px);
  width: 100%;
  padding: 0 60px;
}

.math-text__main {
  font-size: 60px;
  font-weight: 600;
}

.math-text__sub {
  margin-top: 10px;
  padding-left: 6px;
  font-size: 20px;
  font-weight: 200;
  color: darkred;
}

.start-btn {
  width: 250px;
  height: 100px;
  line-height: 100px;
  background-color: #F0F0F0;
  text-align: center;
  border-radius: 10px;
}

.start-btn a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}
