/******************************************************** 
　リセットCSS
********************************************************/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px 0 30px;
  background: linear-gradient(#0f0f0ff7, #2dc80e);
}

.headding {
  text-align: center;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  font-size: 36px;
  font-weight: 100;
  line-height: 100px;
  box-shadow: 0 4px 0 #1b1f0982; 
}

.logo:hover{
  transform: translateY(4px);
  box-shadow: none;
}

.nav-lists {
  height: 100px;
  display: flex;
  list-style: none;
}

.nav-lists__list {
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;
  border: 0.8rem outset #4daf43;
  border-radius: 5px;
}

.nav-lists__list.btn_right {
  margin-left: 50px;
}

/******************************************************** 
　フッター
********************************************************/
.footer {
  width: 100%;
  height: 70px;
  background-color: #e8dede;
}

.copyright {
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  color: #959393;
}

/******************************************************** 
　トップページ 
********************************************************/
.math {
  position: relative;
  width: 100%;
  height: 600px;
}

.math-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 30%
}

.math-items {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(46% - 50px);
  width: 100%;
  padding: 0 80px 0 60px;
}

.math-text {
  margin-bottom: 100px;
}

.math-text__main {
  font-size: 60px;
  font-weight: 600;
  width: 450px;
}

.math-text__sub {
  margin-top: 10px;
  padding-left: 6px;
  font-size: 20px;
  font-weight: 200;
  color: darkred;
}

.start-btn {
  width: 150px;
  height: 100px;
  line-height: 80px;
  margin-top: 20px;
  background: radial-gradient(rgb(255, 56, 56), rgb(44, 3, 3));
  text-align: center;
  border-radius: 40px;
  color: #fff;
  margin-right: 50px;
  transition: .5s cubic-bezier(0.37, 0, 0.63, 1);
}

.start-btn:hover {
  background: radial-gradient(#0f0f0ff7, #33e0f3);
  color: #ffffff;
  transform: scale(1.2);
}
/******************************************************** 
　スマホ（iphone12Pro）対応
********************************************************/
@media only screen and (max-width:640px){

/******************************************************** 
　ヘッダー
********************************************************/
.header {
  display: block;
}

.nav-lists__list.btn_right {
  margin-left: 33px;
}

/******************************************************** 
　トップページ 
********************************************************/
.math-text__main {
  width: 100%;
}

.math-items {
  display: block;
}

.math-text__main {
  font-size: 35px;
}

.math-text__sub {
  padding-bottom: 40px;
}

.start-btn {
  width: 100%;
  margin-right: 0;
}

.math-text {
  margin-bottom: 0;
}
}